:root {
    --dark: black;
    --light: white;

    --green: rgb(117, 219, 117);
    --red: red;
    --blue: rgb(50, 50, 255);
    --yellow: yellow;
    --orange: orange;
    --pink: rgb(235, 152, 166);

    --large: 3rem;
    --medium: 2rem;
    --small: 1rem;

    --heading-font: "Press Start 2P", system-ui;
    --text-font: "Fira Code", monospace;
    --font-weight: 400;
    --font-style: normal;

    --border-large: 5px;
    --border-medium: 2.5px;
    --border-small: 1px;
}

body {
    display: flex;
    background-color: var(--dark);
    color: var(--light);
    justify-content: center;
    align-items: center;
    margin: var(--small);
}

.questions {
    font-family: var(--heading-font);
    text-align: center;
}

.answers {
    font-family: var(--text-font);
    align-items: flex-start;
}

.answers-buttons {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.answers-buttons li {
    display: flex;
    border: var(--border-small) solid var(--light);
    padding: var(--small);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    max-width: 50vw;
    margin-top: var(--small);
}

.answers-buttons li:hover {
    background-color: var(--pink);
    color: var(--green);
}

.correct {
    background-color: var(--green);
    color: var(light);
    border: var(--border-medium) solid var(--pink);
}

.wrong {
    background-color: var(--red);
    color: var(--light);
    border: var(--border-medium) solid var(--pink);
}