:root {
    --dark: black;
    --light: white;

    --green: rgb(117, 219, 117);
    --red: red;
    --blue: rgb(50, 50, 255);
    --yellow: yellow;
    --orange: orange;
    --pink: rgb(235, 152, 166);
    --purple: purple;

    --large: 3rem;
    --medium: 2rem;
    --small: 1rem;

    --heading-font: "Press Start 2P", system-ui;
    --text-font: "Fira Code", monospace;
    --font-weight: 400;
    --font-style: normal;

    --border-large: 5px;
    --border-medium: 2.5px;
    --border-small: 1px;
}

body {
    display: flex;
    background-color: var(--dark);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

heading h1 {
    font-family: var(--heading-font);
    color: var(--light);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: var(--small);
    margin-top: -13vh;
}

.links {
    display: flex;
    gap: var(--large);
}

.links a {
    border: var(--border-medium) solid var(--light);
    padding: var(--medium) var(--large);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--text-font);
}

#tutorial {
    color: var(--green);
}

#tutorial:hover {
    color: var(--blue);
    transform: scale(1.05);
    transition: 0.5s;
    border-radius: 20px;
    border: var(--border-medium) solid var(--blue);
}

#game {
    color: var(--red);
}

#game:hover {
    color: var(--green);
    transform: scale(1.05);
    transition: 0.5s;
    border-radius: 20px;
    border: var(--border-medium) solid var(--green);
}

#game-medium {
    color: var(--pink);
    position: relative;
}

#game-medium:hover {
    color: var(--red);
    transform: scale(1.05);
    transition: 0.5s;
    border-radius: 20px;
    border: var(--border-medium) solid var(--red);
}

#game-hard {
    color: var(--orange);
}

#game-hard:hover {
    color: var(--yellow);
    transform: scale(1.05);
    transition: 0.5s;
    border-radius: 20px;
    border: var(--border-medium) solid var(--yellow);
}

.choose {
    display: flex;
    flex-direction: column;
    margin-left: 30vw;
    margin-top: var(--small);
    gap: 1rem;
    position: absolute;
}

.choose p {
    font-family: var(--heading-font);
    text-transform: uppercase;
    max-width: 11rem;
    text-align: center;
    margin-left: var(--small);
    margin-top: -5vh;
    font-size: smaller;
}

.choose img {
    width: 18vw;
    height: auto;
    transform: rotate(180deg);
    margin-top: var(--medium);
    margin-top: -7vh;
}

.one {
    color: var(--orange);
    padding-right: var(--small);
}

.two {
    color: var(--green);
    padding-right: var(--small);
}

.three {
    color: var(--blue);
    padding-right: var(--small);
}

.four {
    color: var(--pink);
    padding-right: var(--small);
}

.five {
    color: var(--light);
    padding-right: var(--small);
}

.six {
    color: var(--red);
    padding-right: var(--small);
}

.seven {
    color: var(--purple);
    padding-right: var(--small);
}