:root {
    --dark: #0a0a0a;
    --light: white;

    --green: rgb(117, 219, 117);
    --red: red;
    --blue: rgb(50, 50, 255);
    --yellow: yellow;

    --large: 40px;
    --medium: 20px;
    --small: 10px;

    --heading-font: "Press Start 2P", system-ui;
    --text-font: "Fira Code", monospace;
}

body {
    background-color: var(--dark);
    color: var(--light);
    font-family: var(--text-font);
    text-align: center;
    margin: 0;
}

header {
    padding: 20px;
}

.links {
    display: flex;
    justify-content: center;
    gap: var(--large);
}

.links a {
    text-decoration: none;
    border: 2px solid white;
    padding: var(--small) var(--medium);
    font-family: var(--text-font);
}

#tutorial {
    color: var(--green);
}

#game {
    color: var(--red);
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: var(--heading-font);
    color: var(--yellow);
    margin: var(--large) 0;
}

section {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid white;
}

h2 {
    color: var(--blue);
    font-family: var(--heading-font);
}

ul {
    text-align: left;
    display: inline-block;
}

pre {
    background-color: black;
    padding: 15px;
    text-align: left;
    overflow-x: auto;
}

footer {
    margin-top: 40px;
    padding: 20px;
    border-top: 1px solid white;
    font-size: 14px;
}

.inhoudsopgave ul {
    text-decoration: none;
    text-decoration-color: aquamarine;
}

#importjs {
    display: flex;
    justify-content: right;
    gap: var(--medium);
}

#importjs img {
    max-width: 45%;
    height: auto;
}

#getjs {
    display: flex;
    justify-content: center;
    gap: var(--medium);
}

#getjs img {
    max-width: 45%;
    height: auto;
}

#answerjs {
    display: flex;
    justify-content: center;
    gap: var(--medium);
}

#answerjs img {
    max-width: 45%;
    height: auto;
}

#jsondata {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--medium);
    min-height: 100vh;
    /* vult het scherm */
}

#jsondata img {
    max-width: 45%;
    height: auto;
}